
<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  	<h2>Our team</h2>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-2">
	  	<img src="http://placehold.it/125" class="img-responsive imgBorder img-circle">
	  </div>
		<div class="col-md-10">
		  <h3>Firstname Lastname - Founder</h3>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam quis nulla interdum ultricies. Quisque ullamcorper molestie odio id facilisis. Nulla facilisi. Duis pretium ligula orci, nec consequat mauris tincidunt et. Nullam leo felis, malesuada in erat ac, pharetra posuere urna. Maecenas eu mi erat. In vel massa sit amet turpis tristique tempus. Praesent non rhoncus ante, ut consequat tellus.</p>
		 </div>
	</div>
<div class="row">
	  <div class="col-md-2">
	  	<img src="http://placehold.it/125" class="img-responsive imgBorder img-circle">
	  </div>
		<div class="col-md-10">
		  <h3>Firstname Lastname - Back-end developer</h3>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam quis nulla interdum ultricies. Quisque ullamcorper molestie odio id facilisis. Nulla facilisi. Duis pretium ligula orci, nec consequat mauris tincidunt et. Nullam leo felis, malesuada in erat ac, pharetra posuere urna. Maecenas eu mi erat. In vel massa sit amet turpis tristique tempus. Praesent non rhoncus ante, ut consequat tellus.</p>
		 </div>
	</div>
	<div class="row">
	  <div class="col-md-2">
	  	<img src="http://placehold.it/125" class="img-responsive imgBorder img-circle">
	  </div>
		<div class="col-md-10">
		  <h3>Firstname Lastname - Front-end developer</h3>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam quis nulla interdum ultricies. Quisque ullamcorper molestie odio id facilisis. Nulla facilisi. Duis pretium ligula orci, nec consequat mauris tincidunt et. Nullam leo felis, malesuada in erat ac, pharetra posuere urna. Maecenas eu mi erat. In vel massa sit amet turpis tristique tempus. Praesent non rhoncus ante, ut consequat tellus.</p>
		 </div>
	</div>
	<div class="row">
	  <div class="col-md-2">
	  	<img src="http://placehold.it/125" class="img-responsive imgBorder img-circle">
	  </div>
		<div class="col-md-10">
		  <h3>Firstname Lastname - Graphic designer</h3>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id diam quis nulla interdum ultricies. Quisque ullamcorper molestie odio id facilisis. Nulla facilisi. Duis pretium ligula orci, nec consequat mauris tincidunt et. Nullam leo felis, malesuada in erat ac, pharetra posuere urna. Maecenas eu mi erat. In vel massa sit amet turpis tristique tempus. Praesent non rhoncus ante, ut consequat tellus.</p>
		 </div>
	</div>



</div>

